
/*          CSS HTML et BODY            */

html, body{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #e8eaf1; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
}

/*          CSS MARGES et PADDING            */

.Div1{
    background-color: #dadce4;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-style: double ;
}

.BG_Blanc{
    background-color: #dadce4;
}
.BG_Rouge{
    background-color: #e93a3a;
}
.BG_Bleu{
    background-color: #536eda;
}
.BG_Jaune{
    background-color: #e7e54a;
}
.BG_Vert{
    background-color: #61d64a;
}
.BG_Cyan{
    background-color: #40dae6;
}

/*          CSS TITRES et TEXTES            */

h1,h2,h3,h4,h5,h6{ /* Formatage du Padding et Marge pour les Titres */
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
h3{
    font-size: large;
}
h4{
    font-size: medium;
}
h5{
    font-size: small;
}
h6{
    font-size: x-small;
}

p{
    color: black; 
}

/*          CSS PLACEMENTS            */

.TC{ /*CSS Texte Centré */
    text-align: center;
}
.TG{ /*CSS texte à Gauche */
    text-align: left;
}
.TD{ /*CSS texte à Droite */
    text-align: right;
}
.TITRE{ /*CSS texte à Droite */
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}