.barreDeVie{
    width:100px;
    height: 26px;
    display:block;
    float:left;
    background-color: darkgray;
    
}

.vie{
    float:left;
    white-space:nowrap;
    background:rgb(34, 190, 34);
    
}

img.Entite {
    height:120px;
    width:135px;
}

.Arme{
    float:left;
    white-space:nowrap;
    background:rgba(34, 159, 190, 0.555);
}