ul.Item li{
    background-color:rgb(207, 207, 207);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray; 
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;

}

ul.Sac li{
    background-color:rgb(116, 68, 14);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid rgb(219, 184, 25);
    box-shadow:2px 2px 2px rgb(238, 197, 15); 
    -moz-box-shadow:2px 2px 2px rgb(122, 82, 21);
    -webkit-box-shadow:2px 2px 2px rgb(59, 43, 12);

}
ul.Sac li:hover{
    cursor:  url('baguette.cur'), pointer;
    background-color:rgb(231, 231, 231);
}

ul.Item li:hover{
    cursor:  url('hand-grab.cur'), pointer;
    background-color:rgb(231, 231, 231);
}
