/* Deneufgermain */

ul .perso{
    float:left;
    width:150px;
    background-color:rgb(151,161,137);
    padding:5px;
    margin:3px;
    border:1px solid rgb(219,184,25);
    box-shadow:2px 2px 2px rgb(133,228,145);
    -moz-box-shadow:2px 2px 2px rgb(33,122,21);
    -webkit-box-shadow:2px 2px 2px rgb(37,124,41);
}

.attaque{
    float:left;
    background-color:rgb(55,0,255);
    color:rgb(250,212,0);
    background-image:url('https://findicons.com/files/icons/286/legendora/256/sword.png');
    background-size:22px;
    background-repeat:no-repeat;
    padding-left:20px;
    height:26px;
}

div.avatar .perso{
    float:left;
    width:150px;
    background-color:rgb(110,184,13);
    padding:5px;
    margin:3px;
    border:1px solid rgb(219,184,25);
    box-shadow:2px 2px 2px rgb(133,228,145);
    -moz-box-shadow:2px 2px 2px rgb(33,122,21);
    -webkit-box-shadow:2px 2px 2px rgb(37,124,41);
}

.divSac{
    float:left;
    background-color:rgba(90,35,2,0.596);
    padding:5px;
    margin:3px;
    border:1px solid rgb(219,184,25);
    box-shadow:2px 2px 2px rgb(133,228,145);
    -moz-box-shadow:2px 2px 2px rgb(33,122,21);
    -webkit-box-shadow:2px 2px 2px rgb(37,124,41);
}

ul.AutrePersos li{
    background-color:rgb(129,129,129);
    padding:5px;
    border-radius:10px;
    margin:3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray;
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}

ul.Persos li:hover{
    cursor:url('epee.cur'),pointer;
    background-color:rgb(163,163,163);
}

ul.Mob li{
    background-color:rgba(201,58,58,0.705);
    padding:5px;
    border-radius:10px;
    margin:3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray;
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}
ul.Mob li:hover{
    cursor:url('epee.cur'),pointer;
    background-color:rgb(187,37,37);
}

.classEpee{
    background-image:url('https://static.wikia.nocookie.net/minecraft_fr_gamepedia/images/b/b1/Épée_en_or.png/revision/latest/scale-to-width-down/150?cb=20180527151432');
    background-size:cover;
    background-repeat:no-repeat;
}

.bouclier{
    background-image:url('https://static.wikia.nocookie.net/minecraft_fr_gamepedia/images/b/b1/Épée_en_or.png/revision/latest/scale-to-width-down/150?cb=20180527151432');
    background-size:cover;
    background-repeat:no-repeat;
}

.Perso img{
    height:100px;
}

img.Personnage{
    height:120px;
    width:135px;
}

.persoXP{
    float:left;
}

.mobCoef{
    float:left;
}