.centragePrincipal
{
    width:800px;
    margin:auto;
}
.basdepage{
    
    height:200px;
}

.barreDeVie{
    width:100px;
    height: 26px;
    display:block;
    float:left;
    background-color: darkgray;
    
}

.Red{

    background-color:rgba(255, 88, 88, 0.733);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray; 
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}

ul.Item li{
    background-color:rgb(207, 207, 207);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray; 
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;

}

.inscriptionShow{
    display: block;
}
.inscriptionHide{
    display: none;
}

ul.Sac li{
    background-color:rgb(116, 68, 14);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid rgb(219, 184, 25);
    box-shadow:2px 2px 2px rgb(238, 197, 15); 
    -moz-box-shadow:2px 2px 2px rgb(122, 82, 21);
    -webkit-box-shadow:2px 2px 2px rgb(59, 43, 12);

}
ul.Sac li:hover{
    cursor:  url('baguette.cur'), pointer;
    background-color:rgb(231, 231, 231);
}

ul .perso{
    float:left;
    width:150px;
    background-color:rgb(151, 161, 137);
    padding: 5px;
   
    margin: 3px;
    border:1px solid rgb(219, 184, 25);
    box-shadow:2px 2px 2px rgb(133, 228, 145); 
    -moz-box-shadow:2px 2px 2px rgb(33, 122, 21);
    -webkit-box-shadow:2px 2px 2px rgb(37, 124, 41);
}
div.avatar .perso{
    float:left;
    width:150px;
    background-color:rgb(110, 184, 13);
    padding: 5px;
   
    margin: 3px;
    border:1px solid rgb(219, 184, 25);
    box-shadow:2px 2px 2px rgb(133, 228, 145); 
    -moz-box-shadow:2px 2px 2px rgb(33, 122, 21);
    -webkit-box-shadow:2px 2px 2px rgb(37, 124, 41);
}
.divSac{
    float: left;
    
    background-color:rgba(90, 35, 2, 0.596);
    padding: 5px;
   
    margin: 3px;
    border:1px solid rgb(219, 184, 25);
    box-shadow:2px 2px 2px rgb(133, 228, 145); 
    -moz-box-shadow:2px 2px 2px rgb(33, 122, 21);
    -webkit-box-shadow:2px 2px 2px rgb(37, 124, 41);
}
.lamap{
    float:left;
    width:100%;
    background-color:rgba(232, 240, 222, 0.37);
    padding: 5px;
    margin: 3px;
    border:1px solid rgb(53, 52, 48);
    box-shadow:2px 2px 2px rgb(31, 32, 31); 
    -moz-box-shadow:2px 2px 2px rgb(51, 53, 50);
    -webkit-box-shadow:2px 2px 2px rgb(52, 53, 52);
}

.left{float:left}

ul.Item li:hover{
    cursor:  url('hand-grab.cur'), pointer;
    background-color:rgb(231, 231, 231);
}

ul.AutrePersos li{
    background-color:rgb(129, 129, 129);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray; 
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
    
}

ul.Mob li{
    background-color:rgba(201, 58, 58, 0.705);
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray; 
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
    
}
ul.Mob li:hover{
    cursor:  url('epee.cur'), pointer;
    background-color:rgb(187, 37, 37);
  }

ul.Persos li:hover{
    cursor:  url('epee.cur'), pointer;
    background-color:rgb(163, 163, 163);
  }



.vie{
    float:left;
    white-space:nowrap;
    background:rgb(34, 190, 34);
    
}
.attaque{
    float:left;
    background-color:rgb(55, 0, 255);
    color:rgb(250, 212, 0);
    background-image:  url('https://findicons.com/files/icons/286/legendora/256/sword.png');
    background-size: 22px;
    background-repeat: no-repeat;
    padding-left:20px;
    height:26px;
}

li{
    float:left;
    list-style-type: none;
    padding-left: 10px;
}
ul{ 
    float:left ;    
    width:100%;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
.sud {
   
    width: 100%;
    float: left;
    background-color:rgba(0, 81, 255, 0.767);
    height: 30px;
    text-align: center;

}
.nord {
    
    background-image: url("https://publicdomainvectors.org/photos/north-arrow-2.png");
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    background-color:rgba(0, 81, 255, 0.767);
    height: 30px;
    text-align: center;
}
.est{
    float: right;
    width: 30px;
    height: 100%;

}

.ouest{
    float: left;
    width: 30px;
    height: 100%;

}

.VerticalText a{
    transform:rotate(-90deg);
  transform-origin:top right;
}




.mapOuest{
    background-color:rgba(0, 81, 255, 0.767);
   
    float: left;
    width:auto;
    
}

.mapEst{
    background-color:rgba(0, 81, 255, 0.767);
    float: right;
    width: 770px;
    
}

.mapCentre{
    
    float: left;
}


.cardinalite div{
    background-color: cadetblue;
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
}

.classEpee{
    background-image: url('https://static.wikia.nocookie.net/minecraft_fr_gamepedia/images/b/b1/Épée_en_or.png/revision/latest/scale-to-width-down/150?cb=20180527151432');
    background-size: cover;
    background-repeat: no-repeat;
}

.bouclier{
    background-image: url('https://static.wikia.nocookie.net/minecraft_fr_gamepedia/images/b/b1/Épée_en_or.png/revision/latest/scale-to-width-down/150?cb=20180527151432');
    background-size: cover;
    background-repeat: no-repeat;
}

.Perso img{
    height:100px;
}

img.Personnage {
    height:120px;
    width:135px;
}

.bodyAccueil{
    background-image:  url('https://raw.githubusercontent.com/EnseignantLapro/ProjetFullStack/master/IHM/wallpaper_mmo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reglement{
    margin-top:100px;
    padding: 20px;
    width:600px;
    background-color: rgba(199, 82, 154, 0.829);
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
    margin-right:auto;
    margin-left:auto;
}

.formlogin{
    margin-top:100px;
    padding: 20px;
    width:600px;
    background-color: rgba(199, 82, 154, 0.829);
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
    margin-right:auto;
    margin-left:auto;
}


.tableaChass{
    float:left;
    margin-bottom: 20px;
    padding: 20px;
    width:560px;
    background-color: rgba(216, 186, 16, 0.829);
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
    margin-right:auto;
    margin-left:auto;
}

DIV.monster {
    background-color: rgba(216, 153, 16, 0.733);
    float:left;
    width:140px;
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
}
.titreMonster{
    width:100%;
    margin:10px;
    background-color: rgba(97, 75, 29, 0.733);
}

DIV.monster img{
    width:140px;
    height:80px;
}

.adverse{
    background-color: rgba(199, 82, 154, 0.829) !important;

}
.Captured{
    background-color: rgba(219, 199, 12, 0.829)  !important;

}

.divRarete {
    height: 15px;
    width:105px;
    border:1px black;
    background: linear-gradient(to right, rgb(200, 255, 34), rgb(255, 2, 2));
  }

.map {

    float: left;
    right:10px;
    top:10px;

}


.letooltip{
    float:left;
    margin-bottom: 20px;
    padding: 20px;
    width:560px;
    background-color: rgba(216, 186, 16, 0.829);
    border-color: rgb(53, 77, 78);
    border:1px solid rgb(119, 150, 236);
    box-shadow:2px 2px 2px rgb(83, 95, 235); 
    -moz-box-shadow:2px 2px 2px rgb(91, 113, 236);
    -webkit-box-shadow:2px 2px 2px rgb(66, 53, 185);
    margin-right:auto;
    margin-left:auto;
}

.map DIV {

    
    border:1px solid rgba(254, 251, 255, 0.47);

}

.mapLigne{
    width:100%;

    float: left;
}

.mapVerte{

    float: left;
    
   
    background-color: rgba(4, 155, 12, 0.685);
}
.mapMob{

    float: left;
   
   
    background-color: rgba(255, 0, 0, 0.664);
}
.mapClear{

    float: left;
    
   
    background-color: rgba(255, 251, 0, 0.603);
}
.mapRouge{

    float: left;

    background-color: rgba(255, 8, 0, 0.144);
}

.mapOrigine{

    float: left;

    background-color: rgb(255, 0, 221);
}

.mapPositionUser{
    float: left;

    background-color: rgba(21, 255, 0, 0.801);
}